/*
  HomeSocial theme for Hubzilla

  Based on redbasic
  by Treer
*/

header #banner {
	margin-top: 0px;
	text-shadow: none;
}

/* Add some green highlights */
.online-now {
	color: #8d3;
}}
.field.checkbox > div > input:checked + label .onoffswitch-switch {
	/* toggle box dot color */
	background-color: #8c4;
}
.btn-success {
	background-color: #88c744;
	border-color: #693;
}
nav .badge {
	background-color: #5c2;
	/*background-color: #c44;*/

        /* make badge slightly smaller and closer to icon */
	top: -45px;
	left: 3px;
	line-height: 18px;
	height: 18px;
	min-width: 18px;
	border-radius: 9px;
}
nav .badge:hover {
	background-color: #5a2;
}
#nav-search-text {
	border-color: #bbd0aa;
}


@media (min-width: 1024px) {
	/* Space out the nav bar better and enlarge the icons */

	.navbar { min-height: 54px; }


	.nav > li > a {
		/* The selection box's shape/size around the current nav icon 
		margin-top: 1px;
		padding: 11px 14px;
		border-radius: 4px;	*/
		margin-top: -2px;
		padding: 14px 14px;
		padding-top: 15px;
	}
	.nav > li.active > a {
		/* The selection box's border around the current nav icon */
		border: 1px solid #dec;
		border-top: none;
		border-bottom: none;
	}

	.container-fluid { 
		padding-left:   2px;  /* space between avatar and left edge of window */
		padding-right:  20px; /* space between '?' and right edge of window */
		padding-top:    2px;
		padding-bottom: 2px;
	}

	nav [class^="icon-"] {
		/* embiggen the nav icons */
		font-size: 178%;
	}
	.caret {
		/* enlarge the caret */
		margin-right: 10px;
		border-top: 7px solid;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
	}


	#nav-search-text {
		height: 30px;
		font-size: 120%;
		margin-top: 10px;
	}
 
}
